@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family: Quicksand, sans-serif;
}

a{
  text-decoration: none;
}

.App{
  width: 80%;
  margin: 20px auto;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.navbar a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 20px;
}

.logo-text{
  color: #fa5597;
  font-size: 24px;
}

.logo-caption{
  color: #850ecf;
  font-size: 16px;
}

.add-button{
  background-color: #e8d610;
  color: #303030;
  border: 2px solid #333;
  box-shadow: 0px 10px 10px 0px #333;
}

.add-button:active{
  background-color: #f5e211;
  box-shadow: 0px 5px 20px 0px #333;
  transition: all 10ms ease;
}

.task-list a{
  color: #000;
}

.task-item,.task-details{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 25px;
}

.status-text{
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.st-done{
  background-color: #2F9D07;
  color: #fff;
}

.st-not-done{
  background-color: #e8d610;
  color: #303030;
}

.st-wont-do{
  background-color: purple;
  color: #fff;
}

.task-buttons button{
  border: 2px solid #333;
  border-radius: 5px;
  padding: 15px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 0px 0px #777;
}

.task-buttons button:active{
  box-shadow: 0px 0px 10px 0px #777;
  transition: all 10ms ease;
}

.task-button-done{
  background-color: #2F9D07;
  color: #fff;
}

.task-button-not-done{
  background-color: #e8d610;
  color: #303030;
}

.task-button-wont-do{
  background-color: purple;
  color: #fff;
}

.task-button-delete{
  background-color: #CF0000;
  color: #fff;
}

.add-task{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.add-task label{
  text-align: left;
  display: block;
}

.add-task input, .add-task textarea{
  width: 100%;
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.add-task input{
  font-weight: bold;
  height: 32px;
  font-size: 22px;
}

.add-task textarea{
  font-size: 18px;
  height: 400px;
  resize: none;
}

.add-task input:focus, .add-task textarea:focus{
  border: 2px solid #333;
  transition: all 10ms ease;
}

.add-task button{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e8d610;
  color: #303030;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px #333;
}

.add-task button:active{
  background-color: #f5e211;
  box-shadow: 0px 5px 20px 0px #333;
  transition: all 10ms ease;
}
